header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}
header.black{
    background-color: #141414;
}
.header--logo{
    height: 30px;
}
.header--logo img{
    height: 100%;
}
.header--user img{
    height: 100%;
    border-radius: 5px;
}
.header--user{
    height: 45px;
}
.header--inicio a, .header--series a, .header--filmes a, .header--bombando a, .header--mylist a{
    position: fixed;
    text-decoration: none;
    color: white;
}
.header--inicio a{
    top: 26px;
    left: 230px;
}
.header--series a{
    top: 26px;
    left: 300px;
}
.header--filmes a{
    top: 26px;
    left: 373px;
}
.header--bombando a{
    top: 26px;
    left: 455px;
}
.header--mylist a{
    top: 26px;
    left: 568px;
}